{% extends "base.html" %}

{%block scripts%}
    <script>
        function showPassword() {
            var x = document.getElementById("password");
            if (x.type === "password") {
              x.type = "text";
              document.getElementById("showPasswordIcon").innerHTML= '<i class="bi bi-eye-slash-fill"></i>'
            } else {
              x.type = "password";
              document.getElementById("showPasswordIcon").innerHTML= '<i class="bi bi-eye-fill"></i>'
            }
          }
    </script>
{%endblock%}

{% block content %}

<form action="" method="post" id="signInForm">
    <h1>Sign In</h1>
    {{ form.hidden_tag() }}
    <p>
        {{form.email.label()}}<br>
        {{ form.email(size=32, placeholder='Email') }}
    </p>
    <p>
        {% for error in form.email.errors %}
        <span class = "formError">{{ error }}</span>
        {% endfor %}
    </p>
    </p>
    <p>
    <p id="loginPasswordField">
        {{form.password.label()}}<br>
        {{ form.password(size=32,placeholder='Password') }}
        <span onclick="showPassword()" id="showPasswordIcon">
            <i class="bi bi-eye-fill"></i>
        </span>
    </p>
    {% for error in form.password.errors %}
    <span class = "formError">{{ error }}</span>
    {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
</form>
<p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
<p>
    Forgot Your Password?
    <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a>
</p>
{% endblock %}