{% extends "base.html" %}

{%block scripts%}
    <script>
        function showPassword() {
            var x = document.getElementById("password");
            if (x.type === "password") {
              x.type = "text";
              document.getElementById("showPasswordIcon").innerHTML= '<i class="bi bi-eye-slash-fill"></i>'
            } else {
              x.type = "password";
              document.getElementById("showPasswordIcon").innerHTML= '<i class="bi bi-eye-fill"></i>'
            }
          }
    </script>
{%endblock%}

{% block content %}
<h1>Reset Your Password</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
        <span onclick="showPassword()" id="showPasswordIcon">
            <i class="bi bi-eye-fill"></i>
        </span>
        <br>
        {% for error in form.password.errors %}
        <span class = "formError">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password2.label }}<br>
        {{ form.password2(size=32) }}
        <span onclick="showPassword()" id="showPasswordIcon">
            <i class="bi bi-eye-fill"></i>
        </span><br>
        {% for error in form.password2.errors %}
        <span class = "formError">{{ error }}</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}