
{%if change.action == "Added"%}
    <p>
        <a href="{{url_for('main.user', username = change.user.username)}}">{{change.user.first_name}} {{change.user.last_name}}</a> added the fish with the ID <a href = "{{url_for('main.fish', id=change.fish.id)}}">{{change.fish}}</a>
    </p>
{%elif change.action == "Updated"%}
    <p><a href="{{url_for('main.user', username = change.user.username)}}">{{change.user.first_name}} {{change.user.last_name}}</a> updated the {{change.contents}} of <a href = "{{url_for('main.fish', id=change.fish.id)}}">{{change.fish}}</a> from {{change.old}} to {{change.new}}</p>
{%endif%}
