<table class="fishSummaryTable">
    <tr>
        <td colspan="3"><strong>Stock: {{fish.stock}}</strong></td>
    </tr>
    <tr>
        <td>Fish ID: {{fish.fish_id}}</td>
        <td>Tank ID: {{fish.tank_id}}</td>
        <td>Status: {{fish.status}}</td>
    </tr>
    <tr>
        <td>Protocol: {{fish.protocol}}</td>
        <td>Total #: {{fish.total}}</td>
        <td>Age: {{fish.getAge()}}</td>
    </tr>
    <tr>
        <td colspan="3"><a href = "{{url_for('main.fish', id=fish.id)}}">See More Details...</a></td>
    </tr>
</table>
<br>


