<div class="notificationLine">

    <p classs = "notifBody">
        {% if notification.category == "Added" %}
            You have been set as the user for a new fish entry (<strong>{{notification.fish}}</strong>), view the entry <a href="{{url_for('main.fish', id = notification.fish.id)}}">here</a>
        {% elif notification.category == "Change" %}
            Changes have been made to one of your fish (<strong>{{notification.fish}}</strong>), view the changes <a href="{{url_for('main.fishchange', id = notification.fish.id, filters='all')}}">here</a>
        {%endif%}
    </p>
    <p class="notifTimestamp">{{moment(notification.time).fromNow()}}</p>

</div>
