
body{
    background-image:url("/static/pictures/background.png");
    background-size: 50%;
    background-repeat: repeat;

}

#mainContainer{
    background-color: rgba(240,240,240,0.9);
    border:1px solid lightgrey;
    border-radius:12px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:70%;
    padding:10%;
}
