#mainContainer{
    text-align: center;
}

#mainNavbar{
    margin-bottom: 20px;
}

#homeTable{
    margin:auto;
    text-align: center;
}

#introParagraph{
    padding-left: 10%;
    padding-right: 10%;
}


#quickLinksMenu li{
    display: inline;
    padding: 5px;
    margin-top: 15px;
    word-wrap: break-word;
    white-space: nowrap;
    
}

.formError{
    color: red;
    margin-bottom: 5px;
}
.fishFormTable{
    table-layout: fixed;
    max-width:1000px;
}

.fishFormTable tr:hover{
    background-color: whitesmoke;
}

#addFishTable{
    margin:auto;
    
}

#addFishTable td{
    text-align: left;
}


.addFishInputField{
    margin-right: 10px;
}


#addFishTable td label{
    margin:10px 5px;
    margin-left: 20px;
}

#addFishTable td select{
    width:100%;
}
#addFishTable td input{
    width:100%;
}

#addFishTable td textarea{
    width:100%;
}

#updateFishTable{
    margin:auto;
}

#updateFishTable td{
    text-align: left;
}

#updateFishTable td input{
    width:100%;
}
#updateFishTable td select{
    width:100%;
}

#updateFishTable td textarea{
    width:100%;
}
#updateFishTable td label{
    margin:10px 5px;
    margin-left: 20px;
}

#fishList{
    width:70%;
    margin: auto;
    margin-top:20px;
    
}
.fishSummaryTable{
    text-align: center;
    margin:auto;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    width:100%;
    table-layout: fixed
}

.fishSummaryTable td{
    padding: 1em;
    background: whitesmoke;
    border-bottom: 2px solid white;
}

.fishSummaryTable .summaryPoint{
    max-width: 33%;

}

#fishInformation{
    text-align: left;
    padding-left:20px;
}

.fishInfoPoint{
    padding-left: 20px;
}

.fishSubpoint{
    padding-left: 40px;
}

.fishInfoBlock{
    border-bottom: 1px lightgrey solid;
    
}


.pointHeader{
    font-weight: bold;
}

.moreFishOptionsItem{
    font-weight: bold;
}
.fishChange{
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
    border-radius: 1em;
    background-color:aliceblue;
    width:70%;
}

.fishChange td{
    padding: 15px;
}

.fishChangeDetails{
    border-right: 1px #ddd solid;
    width:85%;
}

#filterChangeForm{
    margin: auto;
    width:80%;
    border: 1px gray solid;
    border-radius: 1em;
}

.filterChangeOption{
    padding: 5px;
}

#filterChangesSubmit{
    padding: 5px;
    border-top:1px solid lightgray ;
}

#mainSearchForm{
    margin: auto;
    width:80%;
    border: 1px gray solid;
    border-radius: 1em;
    padding: 5px;
    padding-bottom: 0px;
    margin-top:20px;
}

.seachFormField{
    white-space: nowrap;
}
.seachFormField input{
    margin:5px;
}
.seachFormField select{
    margin:5px;
}

#searchFormSubmit{
    margin-bottom: 10px;

}

#pageNavigation{
    margin:auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#pageNavigation ul{
    margin: 0;
}
#pageNavigation li{
    margin: 0;
    padding: 0;
}

#simpleSearchForm{
    position: absolute;
    right:0;
    margin-right: 20px;
}

.notifTimestamp{

    padding-left: 5px;
}

#notificationDropdownList{
    width:40em;
    height: 40em;
    overflow: auto;
}

.notificationLine{
    width:100%;
    white-space: normal;
}

.notifBody{
    white-space: normal;
    width:100%;
    word-wrap: break-word;
}




@media only screen and (max-width: 1000px) {
    #notificationDropdownList {
        width:100%;
        height: 20em;
        overflow: auto;
    }
    #simpleSearchForm{
        position: relative;
    }

}

.ancestorFish{
    margin: auto;
    margin-bottom: 40px;
}

#tutorialContainer{
    width:60%;
    margin:auto;
    text-align: center;
}
#tutorialContainer h2{
    text-decoration: underline;
    text-align: center;
}

#tutorialContainer h4{
    text-decoration: underline;
    text-align: center;
    margin-top: 20px;
}

#tutorialContentsList a{
    
    display: block;
    margin-top: 5px;
    font-weight: bold;
    

}

#familyTree{
    margin: auto;
    overflow-x: scroll;
    text-align: center;
}
#familyTree table{
    margin: auto;
}

#familyTree td{
    text-align: center;
    width: 100px;
    min-width: 100px;

}

#familyTree tr{
    height: 50px;
}

#familyTree .horizontalFather{
    border-top:2px solid black;
    border-left:2px solid black;
}

#familyTree .horizontalMother{
    border-top:2px solid black;
    border-right:2px solid black;
} 
#familyTree .fishCell{
    border:2px solid black;
    min-width:130px;
}

#alleleBlock{
    margin-left:40px;
}
#alleleTable{
    text-align: center;
}
#alleleTable td{
    border: 1px black solid;
    padding:2px;
}
#alleleTable th{
    border-right:1px black solid ;
    padding:5px;
}
#alleleTable tr{
    border-bottom: 1px black solid;
    padding:2px;
}
#alleleTable .trueCell{
    background-color: mediumseagreen;
}

#alleleTable .falseCell{
    background-color: tomato;
}

#updateAllelsBlock{
    margin: auto;
    text-align: center;
}

.infoPopup{
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size:18px;
}
  
  /* The actual popup */
.infoPopup .popupText {
    visibility: hidden;
    width: 320px;
    font-size:14px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
  
  /* Popup arrow */
.infoPopup .popupText ::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
  /* Toggle this class - hide and show the popup */
.infoPopup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
  
  /* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.modal-footer {
    justify-content: space-between;
}

#updatePictureTable td{
    vertical-align: middle;
    max-width:300px;
    text-align: left;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.modal-footer p{
    overflow-x: hidden;
    word-wrap: break-word;
    
}

.fishInfoSubPoint{
    margin-left:50px;
}

#alleleList{
    margin: auto;
    border: 1px grey solid;
    width: 20%;
    margin-bottom: 20px;
    max-height: 300px;
    overflow-y: scroll;
}
.alleleItem{
    padding:5px;
}

.alleleItem hr{
    margin: 0;
}
.alleleItem:hover{
    background-color: whitesmoke;
}

#alleleFormDiv{
    margin: auto;

}
#alleleFormTable{
    margin: auto;
}
#alleleForm{
    text-align: center;
}

#signInForm{
    border: 1px gray solid;
    border-radius: 25px;
    width:50%;
    min-width: 370px;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
    background-color: whitesmoke;
}

#loginPasswordField input{
    width: 260px;
}

#registrationContainer{
    border: 1px gray solid;
    border-radius: 25px;
    width:50%;
    min-width: 370px;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
    background-color: whitesmoke;
}

.registerTextField{
    width:300px;
}

#mainSettingsForm{
    margin: auto;
    width:60%;
    border: 1px solid gray;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 50px;
}


#emailSettingsCheckboxes{
    width:60%;
    margin: auto;
    text-align: left;
    position: relative;
    
}

#emailSettingsCheckboxes label{
    padding-bottom: 5px;
    
}

#emailSettingsCheckboxes input{
    position: absolute;
    right:0;
    
}

#notificationsSettingsCheckboxes{
    width:60%;
    margin: auto;
    text-align: left;
    position: relative;
    
}
#notificationsSettingsCheckboxes label{
    padding-bottom: 5px;
}

#notificationsSettingsCheckboxes input{
    position: absolute;
    right:0;

}

.settingsCheckboxRow{
    margin-bottom: 5px;
    padding:5px;
}

.settingsCheckboxRow:hover{
    background-color: whitesmoke;
    padding:5px;
}