#mainContainer{
    text-align: center;
}

#homeTable{
    margin:auto;
    text-align: center;
}

#introParagraph{
    padding-left: 10%;
    padding-right: 10%;
}


#quickLinksMenu li{
    display: inline;
    padding: 5px;
    margin-top: 15px;
    word-wrap: break-word;
    white-space: nowrap;
    
}

.formError{
    color: red;
}

#addFishTable{
    margin:auto;
}

.fishSummaryTable{
    text-align: center;
    margin:auto;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

.fishSummaryTable td{
    padding: 1em;
    background: #ddd;
    border-bottom: 2px solid white;
}

#fishInformation{
    text-align: left;
    padding-left:20px;
}

.fishInfoPoint{
    padding-left: 20px;
}

.fishInfoBlock{
    border-bottom: 1px lightgrey solid;
}

.pointHeader{
    font-weight: bold;
}
