<p>Dear {{ user.username }},</p>
<p>You have requested to reset your password for the DanioDB account associated with this email address</p>
<p>
    To reset your password:
    <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">
        click here
    </a>.
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.reset_password', token=token, _external=True) }}</p>
<p>If you have not requested a password reset simply ignore this message.</p>
<p>Sincerely,</p>
<p>DanioDB</p>