{% extends "base.html" %}
    

{% block content %}
{% if all_fish %}
<h2>Data For All Fish</h2>
<textarea style="width:80%;" id="copyText">
    System, ID, Tank ID, Stock, Status, Protocol, Birthday, Date of Arrival, Source, Project License, User code, Mutant gene, Transgenes, Alleles, Cross Type, Father ID, Father Stock, Mother ID, Mother Stock, Males, Females, Unsexed, Carriers/Licensed, Total
    {%for fish in all_fish%}
    {% if fish.system != "Old"%}
    {{fish.system}}, {{fish.fish_id | replace(",", " ")}}, {{fish.tank_id}}, {{fish.stock.name}}, {{fish.status}}, {{fish.protocol}}, {{fish.birthday}}, {{fish.date_of_arrival}}, {{fish.source}}, {%if fish.project_license_holder != None %}{{fish.project_license_holder.project_license}}{%else%}{{fish.old_license}}{%endif%}, {%if fish.user_code != None %}{{fish.user_code.code}}{%else%}{{fish.old_code}}{%endif%}, {%if fish.mutant_gene != None %} {{" ".join(fish.mutant_gene.split("\n")).replace("\r", " ")}}{%endif%}, {{fish.get_transgene_names_string()}}, {{fish.get_allele_names_string()}},{{fish.cross_type}}, {{fish.father.fish_id | replace(",", " ")}}, {{fish.father.stock}}, {{fish.mother.fish_id | replace(",", " ")}}, {{fish.mother.stock}}, {{fish.males}}, {{fish.females}}, {{fish.unsexed}}, {{fish.carriers}}, {{fish.total}}
    {%else%}
    {{fish.system}}, {{fish.fish_id | replace(",", " ")}}, {{fish.tank_id}}, {{fish.stock.name}}, {{fish.status}}, {{fish.protocol}}, {%if fish.birthday != None%} {{fish.birthday}} {%else%} {{fish.old_birthday}} {%endif%},{%if fish.date_of_arrival != None%} {{fish.date_of_arrival}} {%else%} {{fish.old_arrival}} {%endif%} , {{fish.source}}, {%if fish.project_license_holder != None %}{{fish.project_license_holder.project_license}}{%else%}{{fish.old_license}}{%endif%}, {%if fish.user_code != None %}{{fish.user_code.code}}{%else%}{{fish.old_code}}{%endif%}, {%if fish.mutant_gene != None %} {{" ".join(fish.mutant_gene.split("\n")).replace("\r", " ")}}{%endif%}, {{fish.old_transgenes}}, {{fish.old_allele}},{{fish.cross_type}}, {{fish.oldfID | replace(",", " ") }}, {{fish.old_fStock}}, {{fish.old_mID | replace(",", " ")}}, {{fish.old_mStock}}, {{fish.males}}, {{fish.females}}, {{fish.unsexed}}, {{fish.carriers}}, {{fish.total}}
    {%endif%}
    {%endfor%}
</textarea><br>
<button id="copybtn" class="btn btn-secondary" data-clipboard-action="copy" data-clipboard-target="#copyText">
    Copy fish data to clipboard <i class="bi bi-clipboard-fill"></i>
</button>
<br>

<!-- Include clipboard.js -->
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
<!-- Instantiate clipboard -->
<script>
    var btn = document.getElementById('copybtn');
    var clipboard = new ClipboardJS(btn);

    clipboard.on('success', function (e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);
    });

    clipboard.on('error', function (e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);
    });
</script>
{%endif%}

<h2>Every database entry:</h2>

<form action = "", method="post">
    {{form.hidden_tag()}}
    {{form.order.label}} {{form.order()}} {{form.submit()}}
</form>
<div id="fishList">
    {%for fish in all_fish%}
        {% include 'subtemplates/_fish.html'%}
    {%endfor%}
</div>
{%endblock%}
