{% extends "base.html" %}

{% block content %}
{%if fish%}
<div id="fishInformation">
    <div class="fishInfoBlock">
        <h2>Fish</h2>
        <p class = "fishInfoPoint"><span class="pointHeader">Fish ID: </span>{{fish.fish_id}}</p>
        <p class = "fishInfoPoint"><span class="pointHeader">Tank ID: </span>{{fish.tank_id}}</p>
        <p class = "fishInfoPoint"><span class="pointHeader">Stock#: </span>{{fish.stock}}</p>
        <p class = "fishInfoPoint"><span class="pointHeader">Status: </span>{{fish.status}}</p>
        {%if fish.protocol != None and fish.protocol != ""%}
            <P class = "fishInfoPoint"><span class="pointHeader">Protocol: </span>{{fish.protocol}}</P>
        {%endif%}
        <p class = "fishInfoPoint"><span class="pointHeader">Birthday: </span>{{fish.birthday}}</p>
        {%if fish.date_of_arrival != None and fish.date_of_arrival != ""%}
            <p class = "fishInfoPoint"><span class="pointHeader">Date of Arrival: </span>{{fish.date_of_arrival}}</p>
        {%endif%}
        <p class = "fishInfoPoint"><span class="pointHeader">Source: </span>{{fish.source}}</p>
    </div>
    <div class="fishInfoBlock">
        <h2>Users</h2>
        <p class = "fishInfoPoint"><span class="pointHeader">Project License Allocated: </span><a href="{{url_for('main.user', username = fish.project_license_holder.username)}}" target=”_blank”>{{fish.project_license_holder.project_license}}</a></p>
        <p class = "fishInfoPoint"><span class="pointHeader">User Code: </span><a href = "{{url_for('main.user', username = fish.user_code.username)}}" target=”_blank”>{{fish.user_code.code}}</a></p>
    </div>
    <div class="fishInfoBlock">
        <h2>Genetics</h2>
        <p class = "fishInfoPoint"><span class="pointHeader">Mutant Gene: </span>{{fish.mutant_gene}}</p>
        {%if fish.transgenes != None and fish.transgene != ""%}
            <p class = "fishInfoPoint"><span class="pointHeader">Transgenes: </span>{{fish.transgenes}}</p>
        {%endif%}
        {%if fish.allele != None and fish.allele != ""%}
            <p class = "fishInfoPoint"><span class="pointHeader">Allele: </span>{{fish.allele}}</p>
        {%endif%}
        <p class = "fishInfoPoint"><span class="pointHeader">Type of Cross: </span>{{fish.cross_type}}</p>
        {%if fish.father != None%}
            <p class = "fishInfoPoint"><span class="pointHeader">Father:</span> ID = {{fish.father.fish_id}}, Stock = {{fish.father.stock}} <a href="{{url_for('main.fish', id=fish.father.id)}}" target=”_blank”>(view entry)</a></p>
        {%endif%}
        {%if fish.mother != None%}
            <p class = "fishInfoPoint"><span class="pointHeader">Mother:</span> ID = {{fish.mother.fish_id}}, Stock = {{fish.mother.stock}} <a href="{{url_for('main.fish', id=fish.mother.id)}}" target=”_blank”>(view entry)</a></p>
        {%endif%}
        {%if fish.fathered != None %}
            <p class = "fishInfoPoint"><span class="pointHeader">Fathered Fish:</span></p>
            {%for fish in fish.fathered%}
                <p class = "fishInfoPoint fishSubpoint">{{fish}} <a href="{{url_for('main.fish', id=fish.id)}}" target=”_blank”>(view entry)</a></p>
            {%endfor%}
        {%endif%}
        {%if fish.mothered != None %}
            <p class = "fishInfoPoint"><span class="pointHeader">Mothered Fish:</span></p>
            {%for fish in fish.mothered%}
                <p class = "fishInfoPoint fishSubpoint">{{fish}} <a href="{{url_for('main.fish', id=fish.id)}}" target=”_blank”>(view entry)</a></p>
            {%endfor%}
        {%endif%}
    </div>
    <div class="fishInfoBlock">
        <h2>Tank Count</h2>
        <p class = "fishInfoPoint"><span class="pointHeader">Males: </span>{{fish.males}}</p>
        <p class = "fishInfoPoint"><span class="pointHeader">Females: </span>{{fish.females}}</p>
        <p class = "fishInfoPoint"><span class="pointHeader">Unsexed: </span>{{fish.unsexed}}</p>
        <p class = "fishInfoPoint"><span class="pointHeader">Carriers: </span>{{fish.carriers}}</p>
        <p class = "fishInfoPoint"><span class="pointHeader">Total: </span>{{fish.total}}</p>
    </div>
    <div class="fishInfoBlock">
        <h2>Comments</h2>
        {%if fish.comments != None%}
            <p class = "fishInfoPoint">{{fish.comments}}</p>
        {%else%}
            <p class = "fishInfoPoint">No comments...</p>
        {%endif%}
    </div>
    <div class="fishInfoBlock">
        <h2>More Options</h2>
        <p class="fishInfoPoint moreFishOptionsItem"><a href="{{url_for('main.fishhistory', id = fish.id)}}">View the genetic history of this fish</a></p>
        <p class="fishInfoPoint moreFishOptionsItem"><a href="{{url_for('main.updatefish', id = fish.id)}}">Update informtation for this entry</p>
        <p class="fishInfoPoint moreFishOptionsItem"><a href="{{url_for('main.fishchange', id = fish.id, filters= 'all')}}">View the previous changes for this entry</p>
        
    </div>
</div>
<br>

{%else%}
    <h2>A fish matching this information could not be found</h2>
    <p>Try altering your search conditions on the <a href="{{url_for('main.index')}}">home page</a></p>
{%endif%}
{%endblock%}