{% extends "base.html" %}
{%block scripts%}
<!-- Center the family tree -->
<script>
    window.addEventListener("load", function(e) {
        var container = document.getElementById("familyTree");
        var width = container.offsetWidth;
        var middle = (container.offsetLeft + width)/2
        container.scrollLeft += 100;
      });
</script>
{%endblock%}
{% block content %} 
<h2>Genetic history of fish: {{fish}}</h2>
<div id = "familyTree">
    
    <table>
        <tr>
            <td colspan="6"></td>
            <td></td>
            <td></td>
            <td colspan="5"></td>
            <td colspan="4"class = "fishCell" rowspan="2">{{fish}}<br><a href = "{{url_for('main.fish', id=fish.id)}}">(View fish)</a></td>
            <td colspan="5"></td>
            <td></td>
            <td></td>
            <td colspan="6"></td>
        </tr>
        {%if generations > 0%}
            <tr>
                <td colspan="7"></td>
                <td class="horizontalFather" colspan="7"><b></b><br></td>
                <td class="horizontalMother" colspan="6"><b></b><br></td>
                <td colspan="7"></td>
            </tr>
            <tr>
                <td colspan="2" ></td>
                <td></td>
                <td></td>
                <td colspan="2" ></td>
                {% if fish.father %}
                    <td colspan="2" rowspan="2" class = "fishCell"><b>Father</b><br>{{fish.father}}<br><a href="{{url_for('main.fish', id=fish.father.id)}}">(View fish)</a><br><a href="{{url_for('main.fishhistory', id=fish.father.id)}}">(View ancestors)</a></td>
                {%else%}
                    <td colspan="2" rowspan="2" class = "fishCell"><b>Father</b><br>None</td>
                {%endif%}
                <td colspan="2" ></td>
                <td></td>
                <td></td>
                <td colspan="6"></td>
                <td></td>
                <td></td>
                <td colspan="2" ></td>
                {%if fish.mother %}
                    <td colspan="2" rowspan="2" class = "fishCell"><b>Mother</b><br>{{fish.mother}}<br><a href="{{url_for('main.fish', id=fish.mother.id)}}">(View fish)</a><br><a href="{{url_for('main.fishhistory', id=fish.motherid)}}">(View ancestors)</a></td>
                {%else%}
                    <td colspan="2" rowspan="2" class = "fishCell"><b>Mother</b><br>None</td>
                {%endif%}
                <td colspan="2" ></td>
                <td></td>
                <td></td>
                <td colspan="2" ></td>
            </tr>
        {%endif%}
        {%if generations > 1 %}
        <tr>
            <td colspan="3"></td>
            <td colspan="3" class="horizontalFather"></td>
            <td colspan="3" class="horizontalMother"></td>
            <td colspan="8"></td>
            <td colspan="3" class="horizontalFather"></td>
            <td colspan="3" class="horizontalMother"></td>
            <td colspan="3"></td>

        </tr>
        <tr>
            <td></td>
            <td></td>
            <td colspan="2" rowspan="2" class = "fishCell"><b>Father</b><br>{%if fish.father %}{% if fish.father.father %}{{fish.father.father}}<br><a href="{{url_for('main.fish', id=fish.father.father.id)}}">(View fish)</a><br><a href="{{url_for('main.fishhistory', id=fish.father.father.id)}}">(View ancestors)</a>{%else%}None{%endif%}{%else%}None{%endif%}</td>
            <td></td>
            <td></td>
            <td colspan="2" ></td>
            <td></td>
            <td></td>
            <td colspan="2" rowspan="2" class = "fishCell"><b>Mother</b><br>{%if fish.father %}{% if fish.father.mother %}{{fish.father.mother}}<br><a href="{{url_for('main.fish', id=fish.father.mother.id)}}">(View fish)</a><br><a href="{{url_for('main.fishhistory', id=fish.father.mother.id)}}">(View ancestors)</a>{%else%}None{%endif%}{%else%}None{%endif%}</td>
            <td></td>
            <td></td>
            <td colspan="2" ></td>
            <td></td>
            <td></td>
            <td colspan="2" rowspan="2" class = "fishCell"><b>Father</b><br>{%if fish.mother %}{% if fish.mother.father %}{{fish.mother.father}}<br><a href="{{url_for('main.fish', id=fish.mother.father.id)}}">(View fish)</a><br><a href="{{url_for('main.fishhistory', id=fish.mother.father.id)}}">(View ancestors)</a>{%else%}None{%endif%}{%else%}None{%endif%}</td>
            <td></td>
            <td></td>
            <td colspan="2" ></td>
            <td></td>
            <td></td>
            <td colspan="2" rowspan="2" class = "fishCell"><b>Mother</b><br>{%if fish.mother %}{% if fish.mother.mother %}{{fish.mother.mother}}<br><a href="{{url_for('main.fish', id=fish.mother.mother.id)}}">(View fish)</a><br><a href="{{url_for('main.fishhistory', id=fish.mother.mother.id)}}">(View ancestors)</a>{%else%}None{%endif%}{%else%}None{%endif%}</td>
            <td></td>
            <td></td>
        </tr>

        {%endif%}
        {%if generations >2 %}
        <tr>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="1"></td>
            <td colspan="3"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
        
            
            
        </tr>
        <tr>
            
            <td colspan="2" rowspan="2"  class = "fishCell"><b>Father</b><br>{%if fish.father %}{% if fish.father.father %}{% if fish.father.father.father %}{{fish.father.father.father}}<br><a href="{{url_for('main.fish', id=fish.father.father.father.id)}}">(View fish)</a><br><a href="{{url_for('main.fishhistory', id=fish.father.father.father.id)}}">(View ancestors)</a>{%else%}None{%endif%}{%else%}None{%endif%}{%else%}None{%endif%}</td>
            <td colspan="2" ></td>
            <td colspan="2" rowspan="2"  class = "fishCell"><b>Mother</b><br>{%if fish.father %}{% if fish.father.father %}{% if fish.father.father.mother %}{{fish.father.father.mother}}<br><a href="{{url_for('main.fish', id=fish.father.father.mother.id)}}">(View fish)</a><br><a href="{{url_for('main.fishhistory', id=fish.father.father.mother.id)}}">(View ancestors)</a>{%else%}None{%endif%}{%else%}None{%endif%}{%else%}None{%endif%}</td>
            <td colspan="2" ></td>
            <td colspan="2"  rowspan="2" class = "fishCell"><b>Father</b><br>{%if fish.father %}{% if fish.father.mother %}{% if fish.father.mother.father %}{{fish.father.mother.father}}<br><a href="{{url_for('main.fish', id=fish.father.mother.father.id)}}">(View fish)</a><br><a href="{{url_for('main.fishhistory', id=fish.father.mother.father.id)}}">(View ancestors)</a>{%else%}None{%endif%}{%else%}None{%endif%}{%else%}None{%endif%}</td>
            <td colspan="2" ></td>
            <td colspan="2" rowspan="2"  class = "fishCell"><b>Mother</b><br>{%if fish.father %}{% if fish.father.mother %}{% if fish.father.mother.mother%}{{fish.father.mother.mother}}<br><a href="{{url_for('main.fish', id=fish.father.mother.mother.id)}}">(View fish)</a><br><a href="{{url_for('main.fishhistory', id=fish.father.mother.mother.id)}}">(View ancestors)</a>{%else%}None{%endif%}{%else%}None{%endif%}{%else%}None{%endif%}</td>
            <td colspan="2" ></td>
            <td colspan="2"  rowspan="2" class = "fishCell"><b>Father</b><br>{%if fish.mother %}{% if fish.mother.father %}{% if fish.mother.father.father%}{{fish.mother.father.father}}<br><a href="{{url_for('main.fish', id=fish.mother.father.father.id)}}">(View fish)</a><br><a href="{{url_for('main.fishhistory', id=fish.mother.father.father.id)}}">(View ancestors)</a>{%else%}None{%endif%}{%else%}None{%endif%}{%else%}None{%endif%}</td>
            <td colspan="2" ></td>
            <td colspan="2"  rowspan="2" class = "fishCell"><b>Mother</b><br>{%if fish.mother %}{% if fish.mother.father %}{% if fish.mother.father.mother %}{{fish.mother.father.mother}}<br><a href="{{url_for('main.fish', id=fish.mother.father.mother.id)}}">(View fish)</a><br><a href="{{url_for('main.fishhistory', id=fish.mother.father.mother.id)}}">(View ancestors)</a>{%else%}None{%endif%}{%else%}None{%endif%}{%else%}None{%endif%}</td>
            <td colspan="2" ></td>
            <td colspan="2" rowspan="2" class = "fishCell"><b>Father</b><br>{%if fish.mother %}{% if fish.mother.mother %}{% if fish.mother.mother.father %}{{fish.mother.mother.father}}<br><a href="{{url_for('main.fish', id=fish.mother.mother.father.id)}}">(View fish)</a><br><a href="{{url_for('main.fishhistory', id=fish.mother.mother.father.id)}}">(View ancestors)</a>{%else%}None{%endif%}{%else%}None{%endif%}{%else%}None{%endif%}</td>
            <td colspan="2" ></td>
            <td colspan="2" rowspan="2" class = "fishCell"><b>Mother</b><br>{%if fish.mother %}{% if fish.mother.mother %}{% if fish.mother.mother.mother %}{{fish.mother.mother.mother}}<br><a href="{{url_for('main.fish', id=fish.mother.mother.mother.id)}}">(View fish)</a><br><a href="{{url_for('main.fishhistory', id=fish.mother.mother.mother.id)}}">(View ancestors)</a>{%else%}None{%endif%}{%else%}None{%endif%}{%else%}None{%endif%}}</td>
        </tr>
        <tr></tr>
        {%else%}
        <tr></tr>
        <tr><td colspan ="30">No more generations</td></tr>
        {%endif%}


    </table>
</div>


{%endblock%}