{% extends "base.html" %}

{% block content %}
    <div id="filterChangeForm">
        <b>Filter results based on altered fields:</b>
        
        <form action="", method = "post">
            {{form.hidden_tag()}}
            {%for field in form%}
                <tr>
                {% if field.type == "BooleanField" %}
                    {% if field.id in filters%}
                        <span class="filterChangeOption">{{ field.label }} {{ field(checked=True) }}</span>
                    {%else%}
                        <span class="filterChangeOption">{{ field.label }} {{ field }}</span>
                    {%endif%}
                    
                {% elif field.type == "SubmitField"%}
                    <div id="filterChangesSubmit">{{ field }}</div>
                {% endif %}
                </tr>
            {%endfor%}
            {% for field, errors in form.errors.items() %}
                <div class = "formError">{{ form[field].label }}: {{ ', '.join(errors) }}</div>
            {% endfor %}
        </form> 
    </div>
    <br>
    {% if changes %}
        <h4>All changes made on {{fish}}</h4>
            {%for change in changes%}
                {%include 'subtemplates/_fishchange.html'%}
            {%endfor%}
    {%else%}
        <p>There are no changes to show...</p>
    {%endif%}
{%endblock%}