{%extends 'base.html'%}

{%block content%}
    <h2>Useful Information and Guides about DanioDB</h2>

    <h4>Profile settings</h4>
    <p>Permissions</p>

    <h4>Searching the database</h4>
    <p>There are two main ways to search for an entry in the database:
      The simplest way is to use the small search bar in the top right hand corner, this allows you to search for a specific fish tank by giving its stock number 
      If you want a more detailed search you can use the search form on the home page, this will allow you to filter by a number of attributes of any entry and will return a list of all the entries that match your search</p>

    <h4>Adding a fish to the database</h4>
    <p></p>

    <h4>Creating an excel file from the database</h4>
    <p></p>

    <h4>Extra Tips</h4>
    <ul>
        <li></li>
    </ul>
{%endblock%}
