{% extends "base.html" %}

{% block content %}

    <h1>Hi {{ current_user.first_name }}, Welcome to {{config["WEBSITE_NAME"]}}!</h1>
    <br>
    <h6 id="introParagraph" style="width: 70%; margin:auto;">{{config["WEBSITE_NAME"]}} is a new relational database management system designed speciafically for researchers at the University of Bath, it's goal is to aid in the collection, storage, retrieval and analysis of data involving the zebrafish research carried out at the University.</h6>
    <br>
    {%if current_user.isAdmin() %}
        <h4>Add a new entry:</h4>
        <p>Add a new entry to the database <strong><a href="{{url_for('main.newfish')}}" id="newFishLink">here</a></strong></p>
        <br>
    {%endif%}
    
    <h4>Search The Database:</h4>
    <div id="mainSearchForm">
        <form action="", method = "post">
            {{form.hidden_tag()}}
            {%for field in form%}
                {% if field.type != "SubmitField" and field.type != "CSRFTokenField"%}
                    
                    {%if field.type == "IntegerField" %}
                        <span class="seachFormField"> <b>{{ field.label }}</b> {{ field(min=0) }}</span>
                    {%else%}
                        <span class="seachFormField"> <b>{{ field.label }}</b> {{ field }}</span>
                    {%endif%}
                    
                    
                {% elif field.type == "SubmitField"%}
                    <hr>
                    <div id="searchFormSubmit">{{ field }}</div>
                {% endif %}
            {%endfor%}

            {% for field, errors in form.errors.items() %}
                <div class = "formError">{{ form[field].label }}: {{ ', '.join(errors) }}</div>
            {% endfor %}
        </form>
        
    </div>
    <br>
    <p>To search for entries with multiple mutant genes, transgenes or alleles, seperate the respective attributes with a comma (e.g Allele 1, Allele 2)</p>


           
      
{% endblock %}