{% extends "base.html" %}

{% block content %}

    <h1>Hi {{ current_user.first_name }}, Welcome to DanioDB!</h1>
    <br>
    <h6 id="introParagraph">DanioDB - named after the genus from which zebrafish belong - is a new relational database management system designed speciafically for researchers at the University of Bath, it's goal is to aid in the collection, storage, retrieval and analysis of data involving the zebrafish research carried out at the University.</h6>
    <br>
    <p style="font-weight:bold;">Quick Links:</p>
    <ul id="quickLinksMenu"> 
        <li><a href="{{url_for('main.newfish')}}" class="quickLinksItem">Add a new fish to the database</a></li>
        <li><a href="{{url_for('main.index')}}" class="quickLinksItem">Search the database</a></li>
        <li><a href="{{url_for('main.guides')}}" class="quickLinksItem">How to use the system</a></li>
        <li><a href="{{url_for('main.user', username = current_user.username)}}" class="quickLinksItem">View my profile</a></li>
        
    </ul>
    <h4>Search The Database:</h4>
    <div id="mainSearchForm">
        <form action="", method = "post">
                {{form.hidden_tag()}}
                {%for field in form%}
                    {% if field.type != "SubmitField" and field.type != "CSRFTokenField"%}
                        
                        {%if field.type == "IntegerField" %}
                            <span class="seachFormField"> <b>{{ field.label }}</b> {{ field(min=0) }}</span>
                        {%else%}
                            <span class="seachFormField"> <b>{{ field.label }}</b> {{ field }}</span>
                        {%endif%}
                        
                        
                    {% elif field.type == "SubmitField"%}
                        <div id="searchFormSubmit">{{ field }}</div>
                    {% endif %}
                {%endfor%}

                {% for field, errors in form.errors.items() %}
                    <div class = "formError">{{ form[field].label }}: {{ ', '.join(errors) }}</div>
                {% endfor %}
            </form>
    </div>

           
      
{% endblock %}