{% extends "base.html" %}


{% block content %}
    <h2>Add a fish to the database</h2>
    <br>
    <form action="" method="post" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        <table id="addFishTable">
            <tr>
                <td>
                    {{form.fish_id.label}} 
                </td>
                <td class="addFishInputField">
                    {{form.fish_id(placeholder="Fish ID")}} 
                </td>

                <td>{{form.tank_id.label}}
                </td>
                <td class="addFishInputField">{{form.tank_id(placeholder="Tank ID")}}</td>
            </tr>
            <tr>
                <td>{{form.stock.label}}
                </td>
                <td class="addFishInputField"> {{form.stock(placeholder="Stock")}}</td>

                <td>{{form.status.label}}
                </td>
                <td class="addFishInputField"> {{form.status()}}</td>
            </tr>
            <tr>
                <td>{{form.project_license.label}}
                </td>
                <td class="addFishInputField"> {{form.project_license(placeholder="Project License")}}</td>

                <td>{{form.user_code.label}}
                </td>
                <td class="addFishInputField"> {{form.user_code(placeholder="User Code Email")}}</td>
            </tr>
            <tr>
                <td>{{form.birthday.label}}
                </td>
                <td class="addFishInputField"> {{form.birthday()}}</td>

                <td>{{form.date_of_arrival.label}}
                </td>
                <td class="addFishInputField"> {{form.date_of_arrival()}}</td>
            </tr>
            <tr>
                <td>{{form.protocol.label}} </td>
                <td class="addFishInputField">{{form.protocol(min=0)}}</td>
                
                <td>{{form.source.label}} </td>
                <td class="addFishInputField">{{form.source()}}</td>
            </tr>
            <tr>
                <td>{{form.mutant_gene.label}} <div class="infoPopup" onclick="popupShow('mutantgenesInfoPopupText')"><i class="bi bi-info-circle-fill"></i><span class="popupText" id="mutantgenesInfoPopupText"> If you want to add multiple mutant genes, put each one on a new line</span></div></td>
                <td class="addFishInputField">{{form.mutant_gene(placeholder="Mutant Gene")}}</td>

                <td>{{form.transgenes.label}} <div class="infoPopup" onclick="popupShow('transgenesInfoPopupText')"><i class="bi bi-info-circle-fill"></i><span class="popupText" id="transgenesInfoPopupText"> If you want to add multiple transgenes, put each one on a new line</span></div></td>
                <td class="addFishInputField"> {{form.transgenes(placeholder="Transgenes")}}</td>
            </tr>
            <tr>
                <td>{{form.allele.label}}<div class="infoPopup" onclick="popupShow('alleleInfoPopupText')"><i class="bi bi-info-circle-fill"></i><span class="popupText" id="alleleInfoPopupText"> To select multiple allele options, hold the Ctrl key whilst selecting them</span></div>
                {%if current_user.isOwner()%}<br><a href="{{url_for('main.edit_alleles')}}">Edit Alleles List</a>{%endif%}</td>
                <td class="addFishInputField"> {{form.allele(placeholder="Allele")}}</td>

                <td>{{form.cross_type.label}}</td>
                <td class="addFishInputField"> {{form.cross_type(placeholder="Cross Type")}}</td>
            </tr>
            <tr>
                <td>{{form.father_id.label}} </td>
                <td class="addFishInputField">{{form.father_id(placeholder="Father's ID")}}</td>

                <td>{{form.father_stock.label}} </td>
                <td class="addFishInputField">{{form.father_stock(placeholder="Father's Stock")}}</td>
            </tr>
            <tr>
                <td>{{form.mother_id.label}}</td>
                <td class="addFishInputField"> {{form.mother_id(placeholder="Mother's ID")}}</td>

                <td>{{form.mother_stock.label}} </td>
                <td class="addFishInputField">{{form.mother_stock(placeholder="Mother's Stock")}}</td>
            </tr>
            <tr>
                <td>{{form.males.label}} </td>
                <td class="addFishInputField">{{form.males(min=0)}}</td>

                <td>{{form.females.label}} </td>
                <td class="addFishInputField">{{form.females(min=0)}}</td>
            </tr>
            <tr>
                <td>{{form.unsexed.label}}</td>
                <td class="addFishInputField"> {{form.unsexed(min=0)}}</td>

                <td>{{form.carriers.label}} </td>
                <td class="addFishInputField">{{form.carriers(min=0)}}</td>
            </tr>
            <tr>
                <td>{{form.total.label}}</td>
                <td class="addFishInputField"> {{form.total(min=0)}}</td>

                <td>{{form.photos.label}} <div class="infoPopup" onclick="popupShow('photoInfoPopupText')"><i class="bi bi-info-circle-fill"></i><span class="popupText" id="photoInfoPopupText"> Upload any related images here, they must end in one of the following extensions, .jpeg, .png, .jpg, and be no more than 4MB</span> </td>
                <td class="addFishInputField"> {{form.photos()}}</td>   
                 
            </tr> 
            <tr>
                <td>{{form.links.label}} <div class="infoPopup" onclick="popupShow('linksInfoPopupText')"><i class="bi bi-info-circle-fill"></i><span class="popupText" id="linksInfoPopupText"> Paste links to exernal URLs here, if you want multiple links, put each one on a new line</span></td>
                <td class="addFishInputField"> {{form.links(placeholder="Additional URLs")}}</td>
                
                <td>{{form.comments.label}} </td>
                <td class="addFishInputField">{{form.comments(placeholder="Comments...")}}</td>  
                
            </tr> 
            <tr>
                <td>{{form.alert_date.label}}</td>
                <td class="addFishInputField">{{form.alert_date}}</td>

                <td>{{form.alert_msg.label}}</td>
                <td class="addFishInputField">{{form.alert_msg(placeholder="e.g. turnover/split/use")}}</td>
            </tr>
        </table>
        {% for field, errors in form.errors.items() %}
                <div class = "formError">{{ form[field].label }}: {{ ', '.join(errors) }}</div>
        {% endfor %}
        {{form.submit()}}
    </form>
    <p>* Required field</p>
{%endblock%}