{% extends "base.html" %}
    
{%block content%}
{%if fish%}
<div id="fishInformation">
    <div class="fishInfoBlock">
        <h2>Fish</h2>
        <p style="color: red;"><strong>THIS IS AN ENTRY THAT HAS BEEN TRANSFERRED FROM THE OLD DATABASE</strong></p>
        <p class = "fishInfoPoint"><span class="pointHeader">Fish ID: </span>{{fish.fish_id}}</p>
        <p class = "fishInfoPoint"><span class="pointHeader">Tank ID: </span>{{fish.tank_id}}</p>
        <p class = "fishInfoPoint"><span class="pointHeader">Stock#: </span><a href="{{url_for('main.stock', stock=fish.stock.name)}}">{{fish.stock.name}}</a></p>
        <p class = "fishInfoPoint"><span class="pointHeader">Status: </span>{{fish.status}}</p>
        {%if fish.protocol != None and fish.protocol != ""%}
            <P class = "fishInfoPoint"><span class="pointHeader">Protocol: </span>{{fish.protocol}}</P>
        {%endif%}
        <p class = "fishInfoPoint"><span class="pointHeader">Birthday: </span>{{fish.birthday}} {%if fish.getAge()%}(Age: {{fish.getAge()}}){%endif%}</p>
        {%if fish.date_of_arrival != None and fish.date_of_arrival != ""%}
            <p class = "fishInfoPoint"><span class="pointHeader">Date of Arrival: </span>{{fish.date_of_arrival}}</p>
        {%endif%}
        <p class = "fishInfoPoint"><span class="pointHeader">Source: </span>{{fish.source}}</p>
    </div>
    <div class="fishInfoBlock">
        <h2>Users</h2>
        <p class = "fishInfoPoint"><span class="pointHeader">Project License Allocated: </span>{{fish.old_license}}</p>
        <p class = "fishInfoPoint"><span class="pointHeader">User Code: </span>{{fish.old_code}}</p>
    </div>
    <div class="fishInfoBlock">
        <h2>Genetics</h2>
        <p class = "fishInfoPoint"><span class="pointHeader">Mutant Gene: </span>{{fish.mutant_gene}}</p>
        {%if fish.transgenes != None and fish.transgenes != ""%}
            <p class = "fishInfoPoint"><span class="pointHeader">Transgenes: </span>{{fish.transgenes}}</p>
        {%endif%}
        {%if fish.old_allele != None and fish.old_allele != ""%}
            <p class = "fishInfoPoint"><span class="pointHeader">Allele: </span>{{fish.old_allele}}</p>
        {%endif%}
        
        <p class = "fishInfoPoint"><span class="pointHeader">Type of Cross: </span>{{fish.cross_type}}</p>
        {%if fish.father != None%}
            <p class = "fishInfoPoint"><span class="pointHeader">Father:</span> ID = {{fish.father.fish_id}}, Stock = {{fish.father.stock}} <a href="{{url_for('main.fish', id=fish.father.id)}}" target=”_blank”>(view entry)</a></p>
        {%endif%}
        {%if fish.mother != None%}
            <p class = "fishInfoPoint"><span class="pointHeader">Mother:</span> ID = {{fish.mother.fish_id}}, Stock = {{fish.mother.stock}} <a href="{{url_for('main.fish', id=fish.mother.id)}}" target=”_blank”>(view entry)</a></p>
        {%endif%}
        {%if fish.fathered |length > 0 %}
            <p class = "fishInfoPoint"><span class="pointHeader">Fathered Fish:</span></p>
            {%for fish in fish.fathered%}
                <p class = "fishInfoPoint fishSubpoint">{{fish}} <a href="{{url_for('main.fish', id=fish.id)}}" target=”_blank”>(view entry)</a></p>
            {%endfor%}
        {%endif%}
        {%if fish.mothered |length > 0%}
            <p class = "fishInfoPoint"><span class="pointHeader">Mothered Fish:</span></p>
            {%for fish in fish.mothered%}
                <p class = "fishInfoPoint fishSubpoint">{{fish}} <a href="{{url_for('main.fish', id=fish.id)}}" target=”_blank”>(view entry)</a></p>
            {%endfor%}
        {%endif%}
    </div>
    <div class="fishInfoBlock">
        <h2>Tank Count</h2>
        <p class = "fishInfoPoint"><span class="pointHeader">Males: </span>{{fish.males}}</p>
        <p class = "fishInfoPoint"><span class="pointHeader">Females: </span>{{fish.females}}</p>
        <p class = "fishInfoPoint"><span class="pointHeader">Unsexed: </span>{{fish.unsexed}}</p>
        <p class = "fishInfoPoint"><span class="pointHeader">Carriers/Licensed: </span>{{fish.carriers}}</p>
        <p class = "fishInfoPoint"><span class="pointHeader">Total: </span>{{fish.total}}</p>
    </div>
    <div class="fishInfoBlock">
        <h2>Extra Information</h2><br>
        {%if fish.comments != None and fish.comments != ""%}
            <p class = "fishInfoPoint"><span class="pointHeader">Comments: </span>{{fish.comments}}</p><br>
        {%else%}
            <p class = "fishInfoPoint"><span class="pointHeader">Comments: </span>No comments</p><br>
        {%endif%}
        {%if fish.links!= None and fish.links != ""%}
            <p class = "fishInfoPoint"><span class="pointHeader">Additional Links: </span>
                {% for link in fish.links.split("\n")%}
                <div class="addtionalLink" style="margin-left:50px ;"><i class="bi bi-caret-right"></i> <a href="{{link.strip()}}" target="_blank">{{link.strip()}}</a></div>
                {%endfor%}
            </p><br>
        {%else%}
            <p class = "fishInfoPoint"><span class="pointHeader">Additional Links: </span>No URLs</p><br> 
        {%endif%}
        {%if fish.reminders.count() >0%}
            <p class = "fishInfoPoint"><span class="pointHeader">Current reminders:</span>
                {%for reminder in fish.reminders%}
                    <p class = "fishInfoPoint" style="margin-left:20px;">{%if reminder.message%} Reminder: {{reminder.message}},{%endif%} {%if reminder.date%} Date: {{reminder.date}} {%endif%}</p>
                {%endfor%}
            </p>
        {%else%}
            <p class = "fishInfoPoint"><span class="pointHeader">Reminders: </span>No reminders</p>
        {%endif%}

    </div>
    {%if fish.photos.count() > 0%}
        {%set pic_num = [0] %}
        <div class="fishInfoBlock" style="padding-bottom:20px;">
            <h2>Pictures</h2>
                {%for picture in fish.photos %}
                    {% if pic_num.append(pic_num.pop() + 1) %}{% endif %} 
                    <span type="button" data-bs-toggle="modal" data-bs-target="#picture{{pic_num[0]}}Modal" style="text-align:center;">
                        <img height = "100px"  src="/static/uploads/fish/{{picture.name}}"><br>
                        {%if current_user.isResearcher()%}<a href="{{url_for('main.editcaption', fish_id = fish.id, photo_id = picture.id)}}">Add/Update caption</a>{%endif%}
                    </span>
                    
                    <div class="modal fade" id="picture{{pic_num[0]}}Modal" tabindex="-1" aria-labelledby="picture{{pic_num[0]}}Modal" aria-hidden="true">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="modal-dialog modal-dialog-centered modal-xl" style="width:100%;">
                          <div class="modal-content">
                                
                                <img src="/static/uploads/fish/{{picture.name}}">
                            {%if picture.caption != None and picture.caption != ""%}
                                <div class="modal-footer photocaption">
                                    <p><b>Caption: </b>{{picture.caption}}</p>
                                </div>
                            {%endif%}
                          </div>
                        </div>
                      </div>
                {%endfor%}
            
        </div>
        
    
    {%endif%}
    <div class="fishInfoBlock">
        <h2>More Options</h2>
        <p class="fishInfoPoint moreFishOptionsItem"><a href="{{url_for('main.fishchange', id = fish.id, filters= 'all')}}">View the previous changes for this entry</a></p>
        {%if current_user.isResearcher()%}
            <p style="color: red;">WARNING: When updating an old entry you will need to update fields such as user code, project license, father and mother to the new format.<br> Multiple fields in the update page will not auto fill, so make sure you have inputted all fields you require. It is recommened to keep this page open in a seperate tab to refer back to.</p>
            <p class="fishInfoPoint moreFishOptionsItem"><a target="_blank" href="{{url_for('main.updatefish', id = fish.id)}}">Update informtation for this entry</a></p>
        {%endif%}
        <br>
        {% if current_user.isAdmin() %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteFishModal" style="margin-left: 20px; margin-bottom:20px;">
                Delete Fish Entry
            </button>
            <!-- Modal -->
            <div class="modal fade" id="deleteFishModal" tabindex="-1" aria-labelledby="deleteFishModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="deleteFishModalLabel">Are you sure?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this entry? You will not be able to recover it after this.
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{{ url_for('main.deletefish', id = fish.id)}}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Delete Fish Entry', class="btn btn-danger") }}
                    </form>
                    </div>
                </div>
                </div>
            </div>
           
        {%endif%}
    </div>
</div>
<br>


{%else%}
    <h2>A fish matching this information could not be found</h2>
    <p>Try altering your search conditions on the <a href="{{url_for('main.index')}}">home page</a></p>
{%endif%}

{%endblock%}