{% extends "base.html" %}

{% block content %}
    <div id="mainSearchForm">
        <b>Filter Search:</b>
        <form action="", method = "post">
                {{form.hidden_tag()}}
                {%for field in form%}
                    {% if field.type != "SubmitField" and field.type != "CSRFTokenField"%}
                    {%if field.type == "IntegerField" %}
                        <span class="seachFormField"> <b>{{ field.label }}</b> {{ field(min=0) }}</span>
                    {%else%}
                        <span class="seachFormField"> <b>{{ field.label }}</b> {{ field }}</span>
                    {%endif%}
                    {% elif field.type == "SubmitField"%}
                        <hr>
                        <div id="searchFormSubmit">{{ field }}</div>
                    {% endif %}
                {%endfor%}
                
                {% for field, errors in form.errors.items() %}
                    <div class = "formError">{{ form[field].label }}: {{ ', '.join(errors) }}</div>
                {% endfor %}
            </form>
        <p >To search for entries with multiple mutant genes, transgenes or alleles, seperate the respective attributes with a comma (e.g Allele 1, Allele 2)</p>
    </div>
    <br>
    <h4 style="margin-top:20px;">Search Results ({{all_results|length}} results):</h4>
    <div id="fishList">
        {% if all_fish %}
        
        {%for fish in all_fish%}
            {% include 'subtemplates/_fish.html'%}
        {%endfor%}
        {% else %}
            <p>No fish match your search...</p>
        {% endif %}
    </div>
    <div id="pageNavigation">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class=" page-item {% if not prev_url %} disabled{% endif %}">
                    <a class=" page-link" href="{{ prev_url or '#' }}">
                        <span aria-hidden="true">&larr;</span> Page
                    </a>
                </li>
                {% for page in pagination.iter_pages() %}
                    {% if page %}
                        {% if page != pagination.page %}
                            <li class = "page-item"><a class = "page-link" href="{{url_for('main.search', page=page)}}">{{ page }}</a></li>
                        {% else %}
                            <li class="page-item active"><a class = "page-link">{{ page }}</a></li>
                        {% endif %}
                    {% else %}
                        <li class="page-item disabled"><a class = "page-link" >…</a></li>
                    {% endif %}
                {% endfor %}
                <li class="page-item {% if not next_url %} disabled{% endif %}">
                    <a id="nextPageLink" class=" page-link" href="{{ next_url or '#' }}">
                        Next<span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    {% if all_results %}
        <textarea style="width:80%;" id="copyText">System, ID, Tank ID, Stock, Status, Protocol, Birthday, Date of Arrival, Source, Project License, User code, Mutant gene, Transgenes, Cross Type, Father ID, Father Stock, Mother ID, Mother Stock, Males, Females, Unsexed, Carriers/Licensed, Total
{%for fish in all_results%}{{fish.system}}, {{fish.fish_id}}, {{fish.tank_id}}, {{fish.stock.name}}, {{fish.status}}, {{fish.protocol}}, {{fish.birthday}}, {{fish.date_of_arrival}}, {{fish.source}}, {%if fish.project_license_holder != None %}{{fish.project_license_holder.project_license}}{%else%}{{fish.old_license}}{%endif%}, {%if fish.user_code != None %}{{fish.user_code.code}}{%else%}{{fish.old_code}}{%endif%}, {{fish.mutant_gene}}, {{fish.transgenes}}, {{fish.cross_type}}, {{fish.father.fish_id}}, {{fish.father.stock}}, {{fish.mother.fish_id}}, {{fish.mother.stock}}, {{fish.males}}, {{fish.females}}, {{fish.unsexed}}, {{fish.carriers}}, {{fish.total}}
{%endfor%}
        </textarea><br>
        <button id="copybtn" class="btn btn-secondary" data-clipboard-action="copy" data-clipboard-target="#copyText">
            Copy fish data to clipboard <i class="bi bi-clipboard-fill"></i>
        </button>
        <br>

        <!-- Include clipboard.js -->
        <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
        <!-- Instantiate clipboard -->
        <script>
            var btn = document.getElementById('copybtn');
            var clipboard = new ClipboardJS(btn);

            clipboard.on('success', function (e) {
                console.info('Action:', e.action);
                console.info('Text:', e.text);
                console.info('Trigger:', e.trigger);
            });

            clipboard.on('error', function (e) {
                console.info('Action:', e.action);
                console.info('Text:', e.text);
                console.info('Trigger:', e.trigger);
            });
        </script>
    {%endif%}

{% endblock %}