{% extends "base.html" %}

{%block styles%}
    <link rel="stylesheet" href="{{url_for('static', filename='styles/settingsStyle.css')}}">
{%endblock%}

{% block content %}
    <h2>Settings for {{current_user.username}}:</h2><br>

    <p><a href="{{url_for('auth.change_password')}}">Change Password</a></p>

    <form action="" method="post" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        <h4>Emails:</h4>
            {{form.emails.label}} {{form.emails(checked=current_user.settings.emails)}}<br>
            {{form.email_reminders.label}} {{form.email_reminders(checked=current_user.settings.email_reminders)}}<br>
        <h4>Notifications:</h4>
            {{form.add_notifications.label}} {{form.add_notifications(checked=current_user.settings.add_notifications)}}<br>
            {{form.change_notifications.label}} {{form.change_notifications(checked=current_user.settings.change_notifications)}}<br>
            {{form.turnover_notifications.label}} {{form.turnover_notifications(checked=current_user.settings.turnover_notifications)}}<br>
            {{form.age_notifications.label}} {{form.age_notifications(checked=current_user.settings.age_notifications)}}<br>
            {% if current_user.project_license != None and current_user.project_license != "" %}
                {{form.pl_add_notifications.label}} {{form.pl_add_notifications(checked=current_user.settings.pl_add_notifications)}}<br>
                {{form.pl_turnover_notifications.label}} {{form.pl_turnover_notifications(checked=current_user.settings.pl_turnover_notifications)}}<br>
                {{form.pl_age_notifications.label}} {{form.pl_age_notifications(checked=current_user.settings.pl_age_notifications)}}<br>
            {%endif%}

        <br> 
        
        {{form.personal_license.label}} <div class="infoPopup" onclick="popupShow('personalInfoPopupText')"><i class="bi bi-info-circle-fill"></i><span class="popupText" id="personalInfoPopupText"> Enter your own personal license here</span></div>
        {{form.personal_license(placeholder="Your personal license")}} <br><br>

        {{form.personal_license_file.label}} <div class="infoPopup" onclick="popupShow('plInfoPopupText')"><i class="bi bi-info-circle-fill"></i><span class="popupText" id="plInfoPopupText"> If you would like to attach a pdf to your personal license, do so here, you can only have one personal license pdf associated yo your account, if you upload a second then it will replace the current document</span></div>
        {{form.personal_license_file()}}<br><br>
        {%if current_user.personal_document ==True %}<p><a target="_blank" href="/static/files/personal_licenses/{{current_user.id}}.pdf">Current personal license document</a></p><br>{%endif%}

        
        {{form.project_license.label}} <div class="infoPopup" onclick="popupShow('plInfoPopupText')"><i class="bi bi-info-circle-fill"></i><span class="popupText" id="plInfoPopupText"> If you have your own project license enter it here, if don't have one/use someone else's, leave this blank (or as None)</span></div>
        {{form.project_license(placeholder="Your project license")}} <br><br>
        {{form.project_license_file.label}} <div class="infoPopup" onclick="popupShow('plInfoPopupText')"><i class="bi bi-info-circle-fill"></i><span class="popupText" id="plInfoPopupText"> If you would like to attach a pdf to your project license, do so here, you can only have one prpject license pdf associated yo your account, if you upload a second then it will replace the current document</span></div>
        {{form.project_license_file()}}<br><br>
        {%if current_user.project_document ==True %}<p><a target="_blank" href="/static/files/project_licenses/{{current_user.id}}.pdf">Current project license document</a></p><br>{%endif%}

        
        {{form.submit}}
    </form>
    {% for field, errors in form.errors.items() %}
                <div class = "formError">{{ form[field].label }} {{ ', '.join(errors) }}</div>
    {% endfor %}

    
{%endblock%}