{% extends "base.html" %}

{% block content %}
    <h1>Update Fish Details</h1>

    <form action="" method="post" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        <table id="updateFishTable">
            <tr>
                <td>
                    {{form.fish_id.label}} 
                </td><td class="updateFormInputField">
                    {{form.fish_id(placeholder="Fish ID", value = fish.fish_id)}} 
                </td>
            
                <td>{{form.tank_id.label}}
                </td><td class="updateFormInputField">{{form.tank_id(placeholder="Tank ID", value = fish.tank_id)}}</td>
            </tr>
            <tr>
                <td>{{form.stock.label}} 
                </td><td class="updateFormInputField">{{form.stock(placeholder="Stock", value = fish.stock)}}</td>

                <td>{{form.status.label}} 
                </td><td class="updateFormInputField">{{form.status(value = fish.status)}}</td>
            </tr>
            <tr>
                <td>{{form.project_license.label}} 
                </td><td class="updateFormInputField">{{form.project_license(placeholder="Project License", value = fish.project_license_holder.project_license)}}</td>

                <td>{{form.user_code.label}}
                </td><td class="updateFormInputField"> {{form.user_code(placeholder="User Code Email")}}</td>
            </tr>
            <tr>
                <td>{{form.birthday.label}}
                </td><td class="updateFormInputField">  {{form.birthday(value=fish.birthday)}}</td>

                <td>{{form.date_of_arrival.label}} 
                </td><td class="updateFormInputField">{{form.date_of_arrival(value = fish.date_of_arrival)}}</td>
            </tr>
            <tr>
                <td>{{form.protocol.label}}
                </td><td class="updateFormInputField"> {{form.protocol(value=fish.protocol, min=0)}}</td>

                <td>{{form.source.label}}
                </td><td class="updateFormInputField"> {{form.source(value=fish.source)}}</td>
            </tr>
            <tr>
                <td>{{form.mutant_gene.label}}
                </td><td class="updateFormInputField"> {{form.mutant_gene(placeholder="Mutant Gene", value = fish.mutant_gene)}}</td>

                <td>{{form.transgenes.label}}<div class="infoPopup" onclick="popupShow('transgenesInfoPopupText')"><i class="bi bi-info-circle-fill"></i><span class="popupText" id="transgenesInfoPopupText"> To select multiple transgenes options, hold the Ctrl key whilst selecting them</span></div>
                </td><td class="updateFormInputField"> {{form.transgenes(placeholder="Transgenes", value = fish.transgenes)}}</td>
            </tr>
            <tr>
                <td>{{form.allele.label}}<div class="infoPopup" onclick="popupShow('alleleInfoPopupText')"><i class="bi bi-info-circle-fill"></i><span class="popupText" id="alleleInfoPopupText"> To select multiple allele options, hold the Ctrl key whilst selecting them</span></div></td> 
                <td class="updateFormInputField">{{form.allele(placeholder="Allele", value = fish.allele)}}</td>

                <td>{{form.cross_type.label}}
                </td><td class="updateFormInputField"> {{form.cross_type(placeholder="Cross Type", value = fish.cross_type)}}</td>
            </tr>
            <tr>
                <td>{{form.father_id.label}}
                </td><td class="updateFormInputField"> {{form.father_id(placeholder="Father's ID", value = fish.father.fish_id)}}</td>

                <td>{{form.father_stock.label}} 
                </td><td class="updateFormInputField">{{form.father_stock(placeholder="Father's Stock", value= fish.father.stock)}}</td>
            </tr>
            <tr>
                <td>{{form.mother_id.label}}
                </td><td class="updateFormInputField"> {{form.mother_id(placeholder="Mother's ID", value = fish.mother.fish_id)}}</td>

                <td>{{form.mother_stock.label}}
                </td><td class="updateFormInputField"> {{form.mother_stock(placeholder="Mother's Stock", value = fish.mother.stock)}}</td>
            </tr>
            <tr>
                <td>{{form.males.label}}
                </td><td class="updateFormInputField"> {{form.males(value = fish.males, min=0)}}</td>

                <td>{{form.females.label}}
                </td><td class="updateFormInputField"> {{form.females(value = fish.females, min=0)}}</td>
            </tr>
            <tr>
                <td>{{form.unsexed.label}}
                </td><td class="updateFormInputField"> {{form.unsexed(value = fish.unsexed, min=0)}}</td>

                <td>{{form.carriers.label}}
                </td><td class="updateFormInputField"> {{form.carriers(value = fish.carriers, min=0)}}</td>
            </tr>
            <tr>
                <td>{{form.total.label}}</td>
                <td class="addFishInputField"> {{form.total(value=fish.total, min=0)}}</td>

                <td>{{form.photos.label}} <div class="infoPopup" onclick="popupShow('photoInfoPopupText')"><i class="bi bi-info-circle-fill"></i><span class="popupText" id="photoInfoPopupText"> Upload any related images here, they must end in one of the following extensions, .jpeg, .png, .jpg, and be no more than 4MB</span> </td>
                <td class="addFishInputField"> {{form.photos()}}</td>   
                    
            </tr> 
            <tr>
                <td>{{form.links.label}} <div class="infoPopup" onclick="popupShow('linksInfoPopupText')"><i class="bi bi-info-circle-fill"></i><span class="popupText" id="linksInfoPopupText"> Paste links to exernal URLs here, if you want multiple links, put each one on a new line</span></td>
                <td class="addFishInputField"> {{form.links(placeholder="Additional URLs")}}</td>
                
                <td>{{form.comments.label}} </td>
                <td class="addFishInputField">{{form.comments(placeholder="Comments...")}}</td>  
                
            </tr> 
            <tr>
                <td><label for="alert_date">New reminder date</label></td>
                <td class="addFishInputField">{{form.alert_date(value = fish.alert_date)}}</td>

                <td><label for="alert_msg">New reminder message</label></td>
                <td class="addFishInputField">{{form.alert_msg(placeholder="e.g. turnover/split/use", value=fish.alert_msg)}}</td>
            </tr>

        </table>
        
        
        {% for field, errors in form.errors.items() %}
                <div class = "formError">{{ form[field].label }}: {{ ', '.join(errors) }}</div>
        {% endfor %}
        {{form.submit(value="Update Fish")}}
        
    </form>
    <p>* Required field</p>
    <h4>Reminders</h4>
    <table class ="table table-hover" style="width:50%;margin:auto;margin-bottom:50px;margin-top:30px;">
        {%if fish.reminders.count()>0%}
            <tr>
                <td colspan="4">
                    <strong>Current reminders:</strong>
                </td>
            </tr>
            {%for reminder in fish.reminders%}
                <tr>
                    <td></td>
                    <td style="text-align: left;">{%if reminder.message%} Reminder: {{reminder.message}}{%endif%}</td>
                    <td style="text-align: left;">{%if reminder.date%} Date: {{reminder.date}}{%endif%} {%if reminder.sent%}(SENT){%endif%} </td>
                    <td><form action="{{ url_for('main.deletereminder', id = reminder.id)}}" method="post">{{deleteReminderForm.hidden_tag()}}{{deleteReminderForm.submit(value="Delete")}}</form></td>
                </tr>
            {%endfor%}
        {%else%}
            <tr>
                <td colspan="4" style="text-align: center;">
                    There are no current reminders for this fish...
                </td>  
            </tr>
        {%endif%}
    </table>
    
    {%if fish.photos != "" and fish.photos != None %}
        <h4>Pictures</h4>
        {%for picture in fish.photos.split(", ") %}
            <img height = "100px" src="/static/pictures/fish/{{picture}}">
            <form action="{{ url_for('main.deletephoto', fish_id = fish.id, photo=picture)}}" method="post">{{deletePhotoForm.hidden_tag()}}{{deletePhotoForm.submit(value="Delete")}}</form>
        {%endfor%}
    {%endif%}


{%endblock%}